
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-width: 100%;
    text-align: center;
}

html{
    font-size: 62.5%;
}

body{
    background-color: white;
    font-size: 1.6rem;/*in relation to the 62.5 under the html tag*/
    line-height: 1;
    font-family: 'Roboto Mono', monospace;
}

nav div{
    display: inline-block;
    color:white;
    text-align: center;
    border: 0px ;
    margin: 60px;
    width: 9%;
    border-radius: 10px;
    padding: 9px;
    line-height: 15px;
}




nav #plan{
    background-color: #FF764E;
}
nav #learn{
    background-color: #5ED3EB;
}
nav #involved{
    background-color: #FFCD69;
}

h1{
    font-family: 'Chelsea Market', cursive;
}

div.container{
    /* display: inline-block; */
    
}

div.container-bottom{
    display:inline-block;
    width: 40%;
    position: relative;
    bottom: 100px;
    left:100px
    /* float:right; */
}
div.container-bottom h1.title{
    margin:0px;
}
div.container-bottom p.one{
    margin:50px;
}
div.container-bottom p.two{
    margin:0px;
}


.topimage{
    width: 60%;
    top: 150px;
    right:150px;
    position: relative;
    
}
.topimage img{
    /* float:left; */
    border-radius: 100%;
    display: inline-block; 
    /* height: 40%; */
    width: 40%;  
    
}


#about p{
    color:white;
    padding:0%;
    background-color: #DDB9A3;
    padding: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
#about{
    margin:20px;
}

section.involved{
    margin:30px;
}
section.involved img{
    height: 80px;
    display: block;
    width: 100%;
}
section.involved p{
    display: inline-block;
    width: 20%;
    text-align: center;
}
section.plan{
    margin:30px;
}

section.plan img{
    height: 80px;
    display: block;
    width: 100%;

}

section.plan p{
    display: inline-block;
    width: 20%;
    text-align: center;
}

footer .image{
    background-image:url("assets/footer_img.jpg");
    /* height: 100px; */
    /* background-size: 10px 10px; */
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;

    
}